@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

.main::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url(./assets/palestine.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sparks {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}

#about {
    background-color: #013e2e;
}

.logo {
    color: #027f5c;
}

.logo span {
    color: #000;
}

.about-image {
    /* width: auto; */
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img {
    min-width: 1300px;
    margin-top: 200px;
    height: auto;
}

#download {
    cursor: pointer;
    width: 180px;
    height: 40px;
    -webkit-tap-highlight-color: transparent;
    border-radius: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: background-color .5s ease;
    background-color: #03d19e;
    color: #02503c;
}

#download:hover {
    background-color: #01a87e;
    color: #013729; 
    border: 1px solid #02503c;
}

#btn-download {
    display: block;
    width: 28px;
    height: 20px;
}

#btn-download svg {
    fill: none;
    transform: translate3d(0, 0, 0); 
}

#btn-download svg polyline,
#btn-download svg path {
stroke: #013528;
stroke-width: 2;
stroke-linecap: round;
stroke-linejoin: round;
transition: all .3s ease;
}

#btn-download svg path#check {
    stroke-dasharray: 38;
    stroke-dashoffset: 114;
    transition: all .4s ease;
}
#btn-download.downloaded svg .svg-out {
    opacity: 0;
    animation: drop .3s linear;
    transition-delay: .4s;
}
#btn-download.downloaded svg path#check {
    stroke: #03664f;
    stroke-dashoffset: 174;
    transition-delay: .4s;
}
  
@keyframes drop {
    20% {
        transform: translate(0, -3px); }
    80% {
        transform: translate(0, 2px); }
    95% {
        transform: translate(0, 0); } 
}
  
.credit {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all .2s ease;
    -webkit-user-select: none;
    user-select: none;
    opacity: .6;
}

.credit img {
    width: 72px;
}
.credit:hover {
    transform: scale(0.95);
}

.main-titles {
    color: #163729;
}

.main-desc {
    color: #343434;
}


.slide-in-bottom{-webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}
.slide-in-bottom-h1{-webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) .5s both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) .5s both}
.slide-in-bottom-subtitle{-webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) .75s both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) .75s both}
.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) 1s both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) 1s both}
.bounce-top-icons{-webkit-animation:bounce-top .9s 1s both;animation:bounce-top .9s 1s both}

@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
@-webkit-keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
  